
body {
    background-color: rgba(241, 252, 255, 0.925);
}
.navbar
{
    display: flex;
    margin: auto;
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0 50px;
    height: 70px;
}
.logo
{
    color: rgb(69, 69, 150);
    line-height: 20px;
    font-size: 30px;
}
.button-signup
{
    border: none;
    color:white ;
    background-color: #6a5ddf;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 25px;
}
.button-01
{
    background-color: rgb(155, 199, 199);
    border: none;
    border-radius: 10px;
    padding:15px 10px;
    font-size: 20px;
}
.banner-heading
{
    font-size: 35px;
}
#banner
{
    display: flex;
    background-image:url(./images/Hero-bg.png);
    height: 500px;
    justify-content: center;
    align-items: center;
}
.main-banner
{
    text-align: center;
}
.action {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 40px;
    justify-content: center;
    margin: auto;
    padding: 20px;
}

.text-div {
    display: block;
  text-align: left;
  width: 50%;
}
.text-div h2{
    font-size: 35px;
}
.text-div p{
    font-size: 20px;
}
.action-image
{
    border-radius: 20px;
    height: 300px;
}
.buttion-action
{
    padding: 10px 10px;
    background-color: rgb(102, 102, 204);
    font-size: 15px;
    border: none;
    border-radius: 10px;
}
.user-persuation
{
    text-align: center;
}
.user-information
{
    text-align:center;
}
.user-information  p
{
    font-size: 20px;
}
.productive
{
    margin: auto;
}
.productive-user
{
    display: flex;
    text-align: center;
    justify-content:space-between;
    padding: 0px 30px;
    margin: auto;
}
.productive-container
{
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin: auto;
}
.user-persuation
{
    padding: 20px;
    font-size: 40px;
}
.user-information h1
{
    font-size:35px;
    color: blue;
}
.user-information p{
font-size: 25px;
}
/*--------------------focus-----------------*/
.focus{
    display: block;
    align-items: center;
    text-align: center;
    width: auto;
    margin: auto;
}
.focus img
{
    display: block;
    justify-content: space-around;
    width:90%;
    padding: 20px;
    margin: auto;
}
.button-02
{
    padding: 10px 20px;
    font: 20px;
    margin: 20px;
    color: rgb(162, 162, 207);
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.focus-container
{
    display: block;
    margin: auto;
}
/*------------------user review -------------------*/
.name-date{
    display: block;
    color: rgb(10, 10, 10);
}
.users-info
{
    display: flex;
    gap: 20px;
    align-items: center;
}
.reviewer-image
{
    height: 50px;
    width: 50px;
    border-radius: 40px;

}
.text
{
    display: block;
    color: #000000;
    justify-content: center;
    text-align: left;
}
.user-review
{
    display: block;
}
.review-title
{
    text-align: center;
    font-size: 25px;
    padding: 20px;
}
.star-icon
{
    display: block;
    margin: 10px;
}
.user-review
{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    display: block;
    text-align: left;
    height: 320px;
}
.review-content
{
    padding: 10px;
    width: 100%;
}
.review
{
    display: flex;

}
.customer-div-container{
    width: 100%;
    margin: auto;
}
.customer-review
{
    width: 85%;
    text-align: center;
    margin: auto;
}
/*-------------------newsletter------------*/

.newsletter
{
    margin: auto;
    width:90%;
}
.marketing
{
    width: 100%;
}
.contact
{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align:left;
    background-color: rgb(198, 198, 230);
    padding: 20px;
    gap: 20px;
}
.title
{
    font-size: 50px;
    justify-content: center;
}
.forms
{
    text-align: left;
    padding: 10px;
}
label
{
    display: block;
    padding:10px 0px;
    font-size: 20px;
}
input
{
    width:90%;
    height: 25px;

}
textarea
{
    height: 150px;
    width: 90%;
}
.getintouch
{
    margin-left: 10px;
    padding: 10px;
    width: 85%;
    background-color: rgb(173, 135, 209);
    border: none;
    border-radius: 10px;
    font-size: 20px;
}

.footer {
    width: 531px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2f4146;
    text-align: center;
}
.footer-para
{
    font-size: 20px;
    text-align: justify;
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.footer-list{
list-style: none;

}
.footer-list a {
    text-decoration: none;
    padding: 0 10px;
    font-size: 20px;
    background-color: rgb(231, 238, 245);
    margin: 10px;
    border-radius: 5px;

}
