.footer
{
    display: block;
    width: 1140px;
    padding: 20px;
    text-align: center;
    justify-content: center;
    margin: auto;
    background-color: rgb(156, 189, 218);
    border-radius: 20px;
.footer h1
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}
.footer-para
{
text-align: center;
align-items: center;
justify-content: center;
width: 652px;
    justify-content:space-between;
    margin: auto;
}
ul {
display: flex;
justify-content: center;
    text-align: center;
    align-items: center;

}
ul li 
{
    list-style: none;
    padding: 20px;
}
ul li a{
    text-decoration: none;

}
.footer:hover{
    background-color: rgb(123, 181, 233);
    color: rgb(195, 161, 226);
}